.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.login-card {
  width: 450px;
  max-width: 80%;
  padding: 32px;
  border-radius: var(--radius-lg);
  border: 0.5px solid var(--color-border);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
}
