.dashboard-layout {
  display: flex;
  background: var(--color-bg);
  height: 100vh;
}

.dashboard-content {
  height: 100vh;
  width: 100%;
  padding: 24px;
  background: var(--color-bg);
}

.dashboard-content h1 {
  font-size: 28px;
  letter-spacing: 1px;
  color: var(--color-primary);
}
