.app-card {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0px 20px;

  /* shadow + animation */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.25s ease;
}

.app-card:hover {
  border-color: var(--color-primary);
  transform: translateY(-4px);

  /* stronger shadow on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
